.jumbotron {
    padding-top: 6rem;
    background-color: #ffc107;
}

#projects {
    background-color: #ffc107;

}

section {
    padding-top: 5rem;
}

#card1 {
    border-color: #ffc107;
}

.card-header {
    background-color: #ffc107;
}